.navbar {
  /* display: flex; */
  justify-content: center;
  align-items: center;
  background-color: rgb(180, 146, 146);
  width: 100%;
  height: 80px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

button {
  text-align: center;
  display: flex;
}
.buttons {
  display: flex;

  float: right;
  margin-right: 10px;
  margin-top: 15px;
  padding-right: 30px;
  gap: 1rem;
}
body {
  background-image: url("../images/manuel-moreno-DGa0LQ0yDPc-unsplash.jpg");
  /* height: 90%; */
  background-repeat: no-repeat;
  background-size: cover;
  /* width: 100%; */
}
.logo {
  display: flex;
  float: left;
  overflow: hidden;
}
h2 {
  display: flex;
  float: left;
  overflow: hidden;

  font-size: 33px;
  margin: 0;
  margin-top: 15px;
  margin-left: 15px;
}
.hotel-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  text-align: center;
  margin-top: 100px;
}

/* .hotel-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  text-align: center; */
/* } */
.hotel-card {
  border: 1px solid #ccc;
  padding: 20px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}
.hotel-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.hotel-card img {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
  border-radius: 4px;
  margin-bottom: 10px;
}
.hotel-card h3 {
  font-size: 20px;
  margin-bottom: 10px;
}
.hotel-card p {
  margin-bottom: 10px;
}
.hotel-card button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.hotel-card button:hover {
  background-color: #0056b3;
}
