.navbar {
  /* display: flex; */
  /* margin-top: 0px; */
  /* justify-content: center;
  align-items: center; */
  background-color: rgb(180, 146, 146);
  width: 100%;
  height: 80px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.logoutButton {
  width: 90px;
  margin: 20px;
  float: right;
  padding-left: 20px;
  background-color: rgb(91, 89, 79);
}
.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.search-input {
  width: 200px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

.search-option {
  margin-left: 10px;
  padding: 8px;
  font-size: 14px;
  width: 300px;
}

.search-button {
  margin-left: 10px;
  padding: 15px 95px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 20px;
  cursor: pointer;
  width: 300px;
}

.search-button:hover {
  background-color: #45a049;
}

.hotel-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  text-align: center;
  margin-top: 100px;
}

/* .hotel-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  text-align: center; */
/* } */
.hotel-card {
  border: 1px solid #ccc;
  padding: 20px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}
.hotel-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.hotel-card img {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
  border-radius: 4px;
  margin-bottom: 10px;
}
.hotel-card h3 {
  font-size: 20px;
  margin-bottom: 10px;
}
.hotel-card p {
  margin-bottom: 10px;
}
.hotel-card button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 188px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.hotel-card button:hover {
  background-color: #0056b3;
}
